:root {
  --font-title: 'Kaushan Script', cursive;
  --font-theme: 'Poppins', sans-serif;

  --white: #fff;
  --black: #03050B;
  --light-black:#646464;
  --theme-gray: #efefef;

}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
}

/* Root */
/*==========================================================================
                              Font Declaration
 ==========================================================================*/

/*==========================================================================
                             Icon Font
 ==========================================================================*/


/*==========================================================================
 Custom Scroll with CSS only Supported Browser Chrome, Safari and Firefox
 ==========================================================================*/

* {
  scrollbar-color: rgba(0, 0, 0, 0.3) #f0edee;
  scrollbar-width: thin;
}

::-webkit-scrollbar-track {
  box-shadow: none;
  -webkit-box-shadow: none;
  background-color: #f0edee;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #6f6f6f;
  border-radius: 5px;
}

/*==========================================================================
                           Focus Style
 ==========================================================================*/
/* remember to define focus styles! */
:focus,
.btn:focus,
a:focus {
  outline: 0;
  box-shadow: none;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus,
button:focus {
  outline: 0;
}

/* Setting up the fonts */

body {
  font-family: var(--font-theme);
  overflow-x: hidden;
  /* scroll-behavior: smooth; */
  font-size: 16px;
  line-height: 22px;
  color: var(--text-black);
  font-weight: normal;
  background: var(--bgwhite);
}

/*==========================================================================
                           Common
 ==========================================================================*/
section {
  padding: 100px 0;
}

@media only screen and (max-width:991.98px) {

  section {
    padding: 50px 0;
  }
  br{
    display: none;
  }
}
/*==========================================================================
                           Typographic
 ==========================================================================*/
.txt-white {
  color: var(--white)
}


.txt-black {
  color: var(--black)
}

.txt-light-black {
  color: var(--light-black)
}

.txt-primary {
  color: var(--bs-primary);
}

/* -------- Headings ------- */
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {

  color: var(--text-black)
}

.font-title {
  font-family: var(--font-title);
}

.font-theme {
  font-family: var(--font-theme);
}

h1,
.h1 {
  font-size: 100px;
  line-height: 1.5;
}

h2,
.h2 {
  font-size: 34px
}

h3,
.h3 {
  font-size: 28px
}

h4,
.h4 {
  font-size: 24px;
}

h5,
.h5 {
  font-size: 20px;
  line-height: 1.6;
}

h6,
.h6 {
  font-size: 18px
}

p {

  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.8;
}

@media only screen and (max-width:991.98px) {

  h1,
  .h1 {
    font-size: 45px;
  }

  h2,
  .h2 {
    font-size: 24px
  }

  h3,
  .h3 {
    font-size: 20px
  }

  h4,
  .h4 {
    font-size: 16px;
  }

  h5,
  .h5 {
    font-size: 14px
  }

  h6,
  .h6 {
    font-size: 14px
  }

  p {
    font-size: 14px;

  }
}

/* Font-weight */
.fw-regular {
  font-weight: 400
}

.fw-medium {
  font-weight: 500
}

.fw-semibold {
  font-weight: 600
}

.fw-bold {
  font-weight: 700
}

/* Letter Spacing */
.ls-7 {
  letter-spacing: -0.7px;
}

.ls-8 {
  letter-spacing: -0.8;
}

/* Line Heaight */
.lh-12 {
  line-height: 1.2;
}

.lh1 {
  line-height: 1.1;
}

.lh-14 {
  line-height: 1.4;
}

.lh-16 {
  line-height: 1.6;
}
.lh-18 {
  line-height: 1.8;
}


/* =Links--------------------------------------------------------------------------------------------------*/
button {
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
  outline: 0;
  transition: all 0.5s ease-in-out;
}

a:hover {
  text-decoration: none;
  outline: 0;
  transition: all 0.2s ease-in-out;
}

.cursor-pointer {
  cursor: pointer;
}

/* End Links
--------------------------------------------------------------------------------------------------*/

img,
svg {
  max-width: 100%;
  height: auto;
  transition: all ease 0.5s;
}

iframe {
  border: 0;
  max-width: 100%;
}

hr {
  border-top: 1px solid #D2DDEC;
}

ul,
li,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none
}


/*==========================================================================
                           Custom Classes
 ==========================================================================*/
.section-spacing-80 {
  padding: 80px 0;
}

.alt-bg {
  background-color: var(--light-gray);
}



/*========================
     Button Animation
==========================*/
.btn {
  padding: 10px 30px;
  border-radius: 30px;
  border-width: 2px;
  font-weight: 600;
}

.btn-primary {
  color: var(--white);
  background-color: transparent;
  border-color: var(--white);
}

.btn-primary:hover {
  background-color: var(--black);
  border-color: var(--black);
}

@media only screen and (max-width:991.98px) {

  .btn {
    padding: 10px 24px;
    border-radius: 30px;
    border-width: 1px;
    font-weight: 600;
    font-size: 14px;
  }
}

/* ===================
       Page Loader
====================== */



/* ===================
       Header
====================== */

/* ===============================
         Custom Animation
================================= */
.split.active>span {
  display: inline-block;
  overflow-y: clip;

}

.split.active>span>span {
  -webkit-animation-name: scaldown;
  animation-name: scaldown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: inline-flex;
}

@keyframes scaldown {
  0% {
    opacity: 0.5;
    transform-origin: top;
    transform: translate3d(0, 100%, 0px);
  }

  100% {
    opacity: 1;
    transform-origin: top;
    transform: translate3d(0%, 0%, 60px);
  }
}


/* ================================
              Titles
=================================== */
.title {
  font-size: 40px;
  line-height: 1.4;
  letter-spacing: -0.88px;
  color: var(--text-black);
  font-weight: 700;
  margin-bottom: 30px;
}

.title-block h2 {
  font-size: 36px
}
.title-block h2.lg{
  font-size: 50px;
}
.section-title{
  color: var(--black);
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: -0.88px;
  margin-bottom: 30px;
}
.section-title.txt-white{
  color: var(--white);
}

@media only screen and (max-width:991.98px) {
  .title-block h2.lg{
    font-size: 30px;
  }
  .title-block h2 {
    font-size: 20px
  }
  .projects-block {
      width: 300px;
      height: 450px;

  }

}
/* =============== */
/* Text Animation */
/* ============== */


.text-animation-main {
  overflow: hidden;
  padding: 0;
  /* transform: rotate(3deg); */

  transform-origin: center;
  width: calc(100% - 8px);
  margin: 0 auto 50px;
}

.text-animation {
  white-space: nowrap;
  overflow: visible;
  padding: 0 50px;
  display: flex;
  width: 100%;
  font-style: italic;
}
.text-animation h3 {
  font-size: 70px;
  line-height: 1.2;
  margin: 0px;
  padding: 10px;
  font-weight: 800;
  color: transparent;
  -webkit-text-stroke: 2px #b3b3b3;
  transition: all ease 0.5s;
}
.text-animation h3 span{
  color: #b3b3b3;
}


.read-more{
  color: var(--black);
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  display: inline-block;
  margin-top: 20px;
  position: relative;
}
.read-more:before {
  content: "";
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  left: -14px;
  right: 0;
  bottom: -8px;
  background: #ececec;
  z-index: -1;
  border-radius: 50px;
  transition: all ease .2s;
}
.read-more:hover{
  color: var(--black);
  letter-spacing: 1px;
}
.read-more:hover:before{
  width: calc(100% + 30px);
}



.bg-city {
  animation: city 500s linear 0s infinite;
  background-image: url("../images/city.svg");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: bottom;
  padding-bottom: 280px;
}